/*.big-banner{
	background-image: url('static/images/bluebg.jpg') !important;
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	background-size: cover !important;
	-o-background-size: cover !important;
}*/


/*.transparent-input{
   background-color: rgba(0, 0, 0, 0) !important;
   border:none !important;
}*/
