<!DOCTYPE html>
<html lang="en">
<head>
      {% if title %}
      <title>{{ title }} - Microblog</title>
      {% else %}
      <title>Welcome to Microblog</title>
      {% endif %}
    </head>
    <body>
        <div>Microblog:
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('login') }}">log in</a></div>
        <hr>
        {%  with messages = get_flashed_messages() %}
        {%  if messages %}
        <ul>
            {% for i in messages %}
            <li>{{ i }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %} {% endblock %}
    </body>
</html>
